.btn{
    background-color: #e7c4a3;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border: none;
}
.navBtn{
    background-color: #1ff303;
    width: 100px;
    height: 60px;
    border-radius: 10px;
    border: none;
}
.heroBtn{
    background-color: #e703f3;
    width: 150px;
    height: 60px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bold;
}